@use "./bootstrap";
@use "./fonts";



body {
  background-color: #FAFAFA;
}

nav {
  padding-bottom: 50px;
}

.navbar-brand {
  font-family: fonts.$headerFont !important;
}

.post-avatar {
  height: 10px;
  width: 10px;
}


