@use "./bootstrap";
@use "./fonts";



body {
  background-color: #FAFAFA;
  font-family: fonts.$mainFont !important;
  padding-top: 70px;
}

// nav .container {
//   display: flex;
//   position: fixed;
//   justify-content: flex-end;
// }

.pokegram {
  margin-left: 10px;
  font-family: fonts.$headerFont !important;
}

.post-avatar {
  height: 30px;
  width: 30px;
}

