<footer class="text-center">
  <div class="card">
    <div class="card-body">
      <h6>About the Awesome Trainers that make Pokégram</h6>
      Gerald Tiamzon <i class="bi bi-linkedin"></i>
        </a>
    </div>
  </div>


</footer>