<nav class="navbar-expand-lg">
  <div class="container-fluid" style="background-color: var(--bs-yellow);">
    <a class="navbar-brand" href="/posts" >
      <img src="/assets/_Pokeball.png" alt="pokeball" height="24" class="d-inline-block align-text-top" style="cursor: pointer;">
      Pokéball
    </a>
  </div>
</nav>