<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/_Pokeball.png" alt="pokeball" height="24" class="d-inline-block align-text-top">
      Pokéball
    </a>
  </div>
</nav>