
<nav class="navbar fixed-top navbar-light" style="background-color: orange">
  <div class="d-flex justify-content-start" >
    <div class="pokegram">
      <a class="navbar-brand" href="/posts" >
        Pokégram!
      </a>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <a class="navbar-brand" href="/posts">
      <img src="/assets/_Pokeball.png" width="30" height="30" class="d-inline-block align-top" alt="home icon">
    </a>
    <a class="navbar-brand" href="/posts/new">
      <img src="/assets/_Pokedex tool.png" width="30" height="30" class="d-inline-block align-top" alt="add image icon">
    </a>
  </div>
</nav>