<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>


<body class="h-100 text-center text-white bg-dark">

<!-- Nav Partial -->
<%- include("partials/_nav.ejs") %> 

<img src="https://i.pinimg.com/originals/04/36/bf/0436bfc9861b4b57ffffda82d3adad6e.gif" alt="crying pikachu">

  <h1>You made Pikachu cry.</h1>
  <h3>But its okay its only a 404 error.</h3>
  <h5>Go back home to make Pikachu happy again.</h5>
  <button type="button" class="btn btn-success">Lets go home</button>
</body>
</html>