<!DOCTYPE html>
<html lang="en">

<!-- Head Partial -->
<%- include("partials/_head.ejs") %>

<body>
<!-- Nav Partial -->
<%- include("partials/_nav.ejs") %> 


  <div class="container">
    <div class="card">
      <div class="card-header" style="font-family: 'Press Start 2P';">
        'Gotta Make a New Post!
      </div>

      <div class="card-body">
        <form action="/posts/new" method="POST" class="needs-validation" novalidate> 

            <div class="mb-3">
            <legend>User Information</legend>
            <label for="validationServerUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <input 
              type="text" 
              class="form-control is-invalid"  
              name="username" 
              placeholder="enter a username"
              maxlength="20"
              id="validationServerUsername"
              aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" 
              required>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please enter a username for your Poképost.
              </div>
            </div>

            <div class="mb-3">
              <select for="post-avatar" class="form-select" aria-label="Default select example">
                <option selected>choose an avatar</option>
                <option value="1">Abra</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="mb-3">
            <legend>Post Information</legend>
            <label class="form-label" for="validationServerImage">Post Image</label>
              <input 
              type="text" 
              class="form-control is-invalid" 
              name="image" 
              placeholder="http://"
              id="validationServerImage"
              aria-describedby="inputGroupPrepend3 validationServerImageFeedback" 
              required>
              <div id="validationServerImageFeedback" class="invalid-feedback">
                Please enter an image for your Poképost.
              </div>
              
            </div>

            <div class="mb-3">
              <label class="form-label" for="validationServerText">Comment</label>
                <textarea class="form-control is-invalid" name="text" id="validationServerText" cols="30" rows="5" placeholder="tell us about your post!" maxlength="144"id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerTextFeedback" 
                required></textarea>
                <div id="validationServerTextFeedback" class="invalid-feedback">
                  Please tell us about your Poképost.
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-3"style="font-family: 'Press Start 2P';">Post it!</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>